.bg-img{
    background: url('./img/New\ Project\ [129757F].png');
    background-position: center;
    background-size: cover;
    background-color: currentColor;;
    background-repeat: no-repeat;
    /* height: 100vh; */
}
.profile{
    height: 200px;
    overflow: hidden;
    width: 200px;
    border-radius: 119px;

}
.profil-img{
    height: 100%;
    object-fit: cover;
    border-radius: 119px;
    border: 11px solid gray;
    box-shadow: -15px 5px 7px black;
    transition:  ease-inscale 400ms;
}
.profile:hover .profil-img{
    scale:120%;
    transition: ease-out 2s;
    border-radius: 119px;
     
}
.profile-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: 5px 2px 3px black;
    transition: ease-out 1s;
}
.profile-name-span {
    color: mediumaquamarine;
    transition: ease-out 1s;

}
.profile-name:hover{
    color: mediumaquamarine;
    transition: ease-in 1s;

}
.profile-name:hover .profile-name-span{
    color: white;
    transition: ease-in 1s;

     
}
.contact-icon{
    background: #008b8b;
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 33px;
    border-radius: 50px;
    color: aliceblue;
    padding-left: 1px;
    padding-top: 1px;
    transition: ease-out 1s;

}
.contact-icon:hover{
    color: #008b8b;
    background: white;
    transition: ease-in 1s;
}
.about{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:black;
}
.about-pra{
        font-family: -webkit-body;
        letter-spacing: 1.2px;
        line-height: 1.8;
        color: aliceblue;
        font-size: 17px;
        text-align: justify;
}
.pra-span{
    font-weight: 700;
    color: cadetblue;
    -webkit-text-stroke: 3px black;
    -webkit-text-stroke-width: thin;
}
.join-ref{

  background: #008b8b;
    color: white;
    font-family: 'Poppins';
    display: inline-block;
    height: auto;
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 6px;
    transition: ease-out 1s;
    box-shadow: -6px 2px 1px black;
}
.join-ref:hover{
     color: #008b8b;
     background: white;
     transition: ease-in 1s;
     text-decoration: none;
}
.join-span{

}
.end-perent{
    color: aliceblue;
    font-size: 7px;
    font-family: 'Poppins';
    letter-spacing: 0.8px;
    position: relative;
    bottom: 0px;

}
.end-span{
    color:black;
    font-weight: 700;
}
.png-fil{
    filter: brightness(0.5);
    transition: ease-out 1s;
}
.join-ref:hover .png-fil{
    transition:  ease-in 1s;
    filter: none;
}
